{% extends "main.html" %}
{% block content %}

{% for item in data %}
    <div class="alert alert-dark" role="alert">
        <a href="/news/{{item[0]}}">{{item[1]}}</a>
    </div>
{% endfor %}
{% if add %}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endif %}
{% endblock %}